{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <h2 class="display-4" align="center" style="color:black"> Bienvenidos </h2>
                <h1 class="display-2" align="justify" style="color:Teal"> Monitoreo De Sintomas del COVID-19</h1>
                <hr class="my-4">
                <p class="h2" align="center" style="color:red"> En esta pagina se hace el monitoreo del ingreso dentro del Centro de Investigacion de Computo.</p>
            </div>   
        </div> 
    </div>
    {% endblock %}
